{% extends 'base.html.twig' %}

{% block title %}A Propos{% endblock %}

{% block body %}



<div class="apropos container">
    <p> Je m'appelle {{ peintre.nom }} {{peintre.prenom}} </p>
   <p>{{ peintre.apropos}}</p>
</div>

{% endblock %}
