{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}
	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li>
				<a href="index.html">Home</a>
			</li>
			<li class="active">User access</li>
		</ol>

		<div
			class="row">

			<!-- Article main content -->
			<article class="col-xs-12 maincontent">

				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 login">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Connectez-vous</h3>

							<hr>

							<form method="post">
								{% if error %}
									<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
								{% endif %}

								{% if app.user %}
									<div class="mb-3">
										You are logged in as
										{{ app.user.username }},
										<a href="{{ path('app_logout') }}">Logout</a>
									</div>
								{% endif %}
								<div class="top-margin">
									<label for="inputEmail">Adresse Email
										<span class="text-danger">*</span>
									</label>
									<input autocomplete="email" required autofocus class="form-control" type="email" value="{{ last_username }}" name="email" id="inputEmail">
								</div>
								<div class="top-margin">
									<label for="inputPassword">Mot de passe
										<span class="text-danger">*</span>
									</label>
									<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
								</div>

								<hr>

								<div class="row">
									<div class="col-lg-8">
										<b>
											<a href="">Mot de passe oublié ?</a>
										</b>
									</div>
									<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
									<div class="col-lg-4 text-right">
										<button class="btn btn-info" type="submit">Se Connecter</button>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>

			</article>
			<!-- /Article -->

		</div>
	</div>
	<!-- /container -->

{% endblock %}
