	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row text-header">
				<h1 class="lead">Projet complet Symfony</h1>
				<p class="tagline">Projet de A à Z avec CI/CD + mise en ligne</p>
				<p><a class="btn btn-default btn-lg" role="button" href="{{ path('portfolio')}}">Découvrir mon Portfolio -></a></p>
			</div>
		</div>
	</header>
	<!-- /Header -->