{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{% include 'home/image-accueil.html.twig' %}
{% include 'home/realisations.html.twig' %}
<br>
<hr>
{% include 'home/blogpost.html.twig' %}
	
{% endblock %}
