<!-- Fixed navbar -->
	<div class="navbar navbar-inverse headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="{{ path('home')}}"><img src="../assets/images/logo.png" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="{{ path('realisations')}}">Réalisations</a></li>
					<li><a href="{{ path('actualites')}}">Actualités</a></li>
					<li class="dropdown">
					<a href="{{ path('portfolio')}}" class="dropdown-toggle" data-toggle="dropdown">
						Portfolio <b class="caret"></b></a>
						<ul class="dropdown-menu">
							{% for categorie in categorieNavbar() %}
							<li class="dropdown-item dropend">
								<a href="{{ path('portfolio_categorie', {'slug' : categorie.slug})}}">{{ categorie.nom}}</a>
							</li>
							{% endfor %}
						</ul>
					</li>
					<li><a href="{{ path('apropos')}}">A propos</a></li>
					<li><a class="btn" href="{{ path('contact')}}">Me connecter</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->