{% extends 'base.html.twig' %}

{% block title %}Ma catégorie {{categorie.nom}}
{% endblock %}

{% block body %}
    {% set peinture = categorie.peintures|last %}
        <div class="container">
            <img src="{{ vich_uploader_asset(peinture, 'imageFile') }}" alt="{{ categorie.nom }}" style="heigh: 200px; width: 200px; text-align:center">
            <h1>{{ categorie.nom }}</h1>
            <h3><small>{{ categorie.description}}</small></h3>

        <hr>
        
        {% for peinture in peintures %}
            
        <img src="{{ vich_uploader_asset(peinture, 'imageFile') | imagine_filter('miniature') }}" alt="" style="margin-top: 10px">
        {% endfor %}
        
        </div>

{% endblock %}