{% extends 'base.html.twig' %}

{% block title %}Les catégories
{% endblock %}

{% block body %}

	<div class="container">
	<h1>Mon portfolio</h1>
		{% for categorie in categories %}
			{% set peinture = categorie.peintures|last %}
            <a href="{{ path('portfolio_categorie', {'slug': categorie.slug})}}">
			<div class="card col-md-4 card-news">
				<div class="card-body">
					<h5 class="card-title text-center">
						<strong>{{ categorie.nom}}</strong>
					</h5>
                    <img src="{{ vich_uploader_asset(peinture, 'imageFile')  | imagine_filter('miniature') }}" alt="{{ categorie.nom}}">
					<p class="card-text">{{ categorie.description }}</p>
				</div>
			</div>
            </a>
		{% endfor %}
	</div>
{% endblock %}
