{% extends 'base.html.twig' %}

{% block title %}Les actualités
{% endblock %}

{% block body %}

	<div class="container">


		<h2>Toutes les actualités</h2>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
		</p>
		<div class="card-deck row">
			{% for blogpost in blogposts %}
			<a href="{{ path('actualites_detail', {'slug': blogpost.slug})}}">
				<div class="card col-md-4 card-news">
					<div class="card-body">
						<h5 class="card-title text-center">
							<strong>{{ blogpost.titre}}</strong>
						</h5>
						<p class="card-text">{{ blogpost.contenu }}</p>
						<p class="card-text">
							<small class="text-muted">Publié le
								{{ blogpost.createdAt|date('d/m/Y')}}</small>
						</p>
					</div>
				</div>
			</a>
			{% endfor %}
		</div>
		<div class="paginationpers">
			{% do blogposts.setPageRange(2) %}
			{{ knp_pagination_render(blogposts,'base/pagination.html.twig')}}

		</div>

	</div>
{% endblock %}
