{% extends 'base.html.twig' %}

{% block title %}
	Mon actualité
{% endblock %}

{% block body %}

	<div class="container">

		<h1>{{ blogpost.titre }}</h1>Ò
		<p>
			{{ blogpost.contenu }}</p>
		<p>Rédigée le: {{ blogpost.createdAt|date("d/m/Y")}}</p>

		{% include "commentaire/form.html.twig" %}

		{% include "commentaire/commentaires.html.twig" %}

	</div>
{% endblock %}
