<div class="container">
    {% for message in app.flashes('succes') %}
        <div class="alert alert-succes">
            {{ message }}
        </div>
    {% endfor %}

    {{ form(form) }}
</div>



