{% extends 'base.html.twig' %}

{% block title %}Me contacter{% endblock %}

{% block body %}
<div class="container">
<h1>Me contacter </h1>

{{ form(form) }}
{% for message in app.flashes('succes') %}
    <div class="alert alert-succes">
        {{ message }}
    </div>
{% endfor %}
</div>

{% endblock %}
