{% extends 'base.html.twig' %}

{% block title %}Ma réalisation{% endblock %}

{% block body %}

<div class="container">

<h1>{{ peinture.nom }}</h1>
<p>{{peinture.description}}</p>
<p>Largeur {{peinture.largeur}}</p>
<p>Hauteur {{peinture.hauteur}}</p>
<p>Réalisée le {{peinture.createdAt|date("d/m/Y")}}</p>
{% if peinture.enVente %}
    <p>Prix : {{ peinture.prix }} €</p>
{% endif %}
<img src="{{ vich_uploader_asset(peinture, 'imageFile') | imagine_filter('full') }}" alt="{{ peinture.nom }}">

{% include "commentaire/form.html.twig" %}
{% include "commentaire/commentaires.html.twig" %}

</div>

{% endblock %}
