{% extends 'base.html.twig' %}

{% block title %}Mes réalisations{% endblock %}

{% block body %}
    
    <div class="container">
    <h2> Mes réalisations</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>

    {% for peinture in peintures %}
    <a href="{{ path('realisations_details', {'slug' : peinture.slug})}}" class="realisation_link">
    <div class="card mb-3 card-realisation" style="max-width: 1000px;">
        <div class="row no-gutters">
            <div class="col-md-4">
            <img src="{{ vich_uploader_asset(peinture, 'imageFile') | imagine_filter('miniature')}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><strong>{{ peinture.nom }}</strong></h5>
                <p class="card-text">{{ peinture.description }}</p>
                <p class="card-text"><small class="text-muted">Ajoutée le {{ peinture.createdAt|date('d/M/Y') }}</small></p>
            </div>
            </div>
        </div>
    </div>
    </a>
    {% endfor %}
    <div class="paginationpers">
        {% do peintures.setPageRange(2) %}
        {{ knp_pagination_render(peintures,'base/pagination.html.twig')}}
    
    </div>
</div>
{% endblock %}
